SupClientConnectionLib/Service References/ServiceRef/HostSUP3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SupContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SupContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableName" type="tns:TableName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:simpleType name="TableName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TestTable1" />
      <xs:enumeration value="VisOrders" />
      <xs:enumeration value="TestTable2Ado" />
      <xs:enumeration value="VisOrderElements" />
      <xs:enumeration value="VisVisitors" />
      <xs:enumeration value="VisOrganizations" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TableName" nillable="true" type="tns:TableName" />
</xs:schema>